{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="Add your url link here">Live data</a></li>
        <li><a href="{% url 'mcqHome' %}">MCQ</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout_user' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login_user' %}">Login</a></li>
        {% endif %}
    </ul>

    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% block page %} Django App {% endblock %}

</body>
</html>