{% extends "base.html" %}


{% block page %}

<h1>This is the MCQ page</h1>


<div>
    <h2>Your score: {{ user_score }}</h2>
</div>


<div class="leaderboard">
    <h2>Leaderboard</h2>
    {% for stat in top_stats %}
        <p> {{ stat.user.username }} - {{ stat.score }}</p>
    {% endfor %}
</div>



<div>
    <label>Dynamic questions</label>
    <a href="{% url 'dynamicQuestions' %}">
        <button>Start Dyanmic Quiz</button>
    </a>
</div>


<div>
    <label>Static questions</label>
    <a href="{% url 'staticQuestions' %}">
        <button>Start Static Quiz</button>
    </a>
</div>

{% endblock %}
