{% extends "base.html" %}
{% load static %}


{% block page %}
<link rel="stylesheet" href="{% static 'css/MCQ/staticQuestions.css' %}">

<div class="center-content">
    <div class="static-questions-container">
        <h1>Static Questions Quiz</h1> <br>

        <form method="post" action="{% url 'submitStaticQuiz' %}">
            
            {% csrf_token %}

            {% for question, options in questions_options.items %}

                <div class="question_block">
                    <h3>{{ question.question }}</h3>

                    {% for option in options %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}" value = "{{ option.id }}">
                            {{ option.option_description }}
                        </label> <br>
                    {% endfor %}
                </div> <br>

                <br>

            {% endfor %}

            <button type="submit">Submit Quiz</button>
        </form>
    </div>
</div>

{% endblock %}
